<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_media</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>_media</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.01820195</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>Alienation.md</key>
			<dict>
				<key>lastModification</key>
				<real>565620585.94541597</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>31</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>105</integer>
				</dict>
			</dict>
			<key>Authentic Relating.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340040.973737</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>189</integer>
				</dict>
			</dict>
			<key>Climate-Ecological Emergency and Deep Adaptation.md</key>
			<dict>
				<key>lastModification</key>
				<real>580811806.41396904</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>86</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>255</integer>
				</dict>
			</dict>
			<key>Concentric Circles of Self.md</key>
			<dict>
				<key>lastModification</key>
				<real>581507389.682845</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>144</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>283</integer>
				</dict>
			</dict>
			<key>Conferences.md</key>
			<dict>
				<key>lastModification</key>
				<real>536457941.20447898</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>175</integer>
				</dict>
			</dict>
			<key>Cultural Code.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340100.11857295</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>201</integer>
				</dict>
			</dict>
			<key>Deep Ecology.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340077.13295996</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>197</integer>
				</dict>
			</dict>
			<key>Emergentism.md</key>
			<dict>
				<key>lastModification</key>
				<real>580373158.48511505</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>245</integer>
				</dict>
			</dict>
			<key>Environment.md</key>
			<dict>
				<key>lastModification</key>
				<real>565623713.86609495</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>32</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>89</integer>
				</dict>
			</dict>
			<key>Feedback.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.18667805</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Framing the Climate and Ecological Collapse.md</key>
			<dict>
				<key>lastModification</key>
				<real>581254882.44715297</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>144</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>259</integer>
				</dict>
			</dict>
			<key>Gaia.md</key>
			<dict>
				<key>lastModification</key>
				<real>581087350.73961103</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>90</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>255</integer>
				</dict>
			</dict>
			<key>Group Practices.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340094.12343705</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>199</integer>
				</dict>
			</dict>
			<key>Guerrilla Metaphysics.md</key>
			<dict>
				<key>lastModification</key>
				<real>580342640.62555504</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>227</integer>
				</dict>
			</dict>
			<key>Hallmarks of the Monster Factory.md</key>
			<dict>
				<key>lastModification</key>
				<real>581252666.80159497</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>131</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>259</integer>
				</dict>
			</dict>
			<key>Hallmarks of the Phoenix.md</key>
			<dict>
				<key>lastModification</key>
				<real>581252665.3398</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>129</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>259</integer>
				</dict>
			</dict>
			<key>Inequality.md</key>
			<dict>
				<key>lastModification</key>
				<real>565194905.76530194</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>30</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>89</integer>
				</dict>
			</dict>
			<key>Mapping the Collapse.md</key>
			<dict>
				<key>lastModification</key>
				<real>581250043.68277895</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>110</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>259</integer>
				</dict>
			</dict>
			<key>Meta-rationality.md</key>
			<dict>
				<key>lastModification</key>
				<real>580341293.19449794</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>223</integer>
				</dict>
			</dict>
			<key>Metamodern Art.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340065.636796</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>195</integer>
				</dict>
			</dict>
			<key>Metamodern Existentialism.md</key>
			<dict>
				<key>lastModification</key>
				<real>581249887.37190902</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>106</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>259</integer>
				</dict>
			</dict>
			<key>Metamodernism.md</key>
			<dict>
				<key>lastModification</key>
				<real>565626955.35551</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>41</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>127</integer>
				</dict>
			</dict>
			<key>Neo-Colonialism.md</key>
			<dict>
				<key>lastModification</key>
				<real>581507087.11571503</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>144</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>274</integer>
				</dict>
			</dict>
			<key>Neoliberalism - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>581507096.97394896</real>
				<key>lastModification</key>
				<real>581507096.97394896</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>144</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>276</integer>
				</dict>
			</dict>
			<key>Neoliberalism.md</key>
			<dict>
				<key>lastModification</key>
				<real>581252806.00723195</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>134</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>259</integer>
				</dict>
			</dict>
			<key>Non Violent Communication.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340232.10966897</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>217</integer>
				</dict>
			</dict>
			<key>Open Questions.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340134.84755599</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>209</integer>
				</dict>
			</dict>
			<key>Organisational Design.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340060.62020195</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>193</integer>
				</dict>
			</dict>
			<key>Organisations.md</key>
			<dict>
				<key>lastModification</key>
				<real>564685045.99485695</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>21</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>People.md</key>
			<dict>
				<key>lastModification</key>
				<real>564684439.66900694</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>13</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>Philosophical Terms.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340116.85580003</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>205</integer>
				</dict>
			</dict>
			<key>Places to Post Articles.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340108.98838496</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>203</integer>
				</dict>
			</dict>
			<key>Places.md</key>
			<dict>
				<key>lastModification</key>
				<real>536457941.204512</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>175</integer>
				</dict>
			</dict>
			<key>Platform Co-ops.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340012.75324404</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>187</integer>
				</dict>
			</dict>
			<key>Quotes.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<false/>
				<key>firstUnassignment</key>
				<real>581264181.05023003</real>
				<key>lastModification</key>
				<real>581023399.04653597</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>87</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>256</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.36199796</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>Reject Materialism.md</key>
			<dict>
				<key>lastModification</key>
				<real>580373737.77732801</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>249</integer>
				</dict>
			</dict>
			<key>Social Ecology (Will Franks's conflicted copy 2019-05-26).md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>581264175.68326998</real>
				<key>lastModification</key>
				<real>581264175.68326998</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>144</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>261</integer>
				</dict>
			</dict>
			<key>Social Ecology.md</key>
			<dict>
				<key>lastModification</key>
				<real>580568404.632936</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>81</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>250</integer>
				</dict>
			</dict>
			<key>Street Epistemology.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340140.94736397</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>211</integer>
				</dict>
			</dict>
			<key>The Bio-Emotive Framework.md</key>
			<dict>
				<key>lastModification</key>
				<real>580337057.84638798</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>179</integer>
				</dict>
			</dict>
			<key>The Bodhisattva narrative.md</key>
			<dict>
				<key>lastModification</key>
				<real>581091868.719854</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>98</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>255</integer>
				</dict>
			</dict>
			<key>The Fluid Mode.md</key>
			<dict>
				<key>lastModification</key>
				<real>580346188.82027304</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>241</integer>
				</dict>
			</dict>
			<key>The Meaning Crisis.md</key>
			<dict>
				<key>lastModification</key>
				<real>580346003.37485504</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>237</integer>
				</dict>
			</dict>
			<key>The Transjective Perspective.md</key>
			<dict>
				<key>lastModification</key>
				<real>580343240.39854598</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>233</integer>
				</dict>
			</dict>
			<key>The Work That Reconnects.md</key>
			<dict>
				<key>lastModification</key>
				<real>581331080.93358898</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>144</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>266</integer>
				</dict>
			</dict>
			<key>Utopianism.md</key>
			<dict>
				<key>lastModification</key>
				<real>581089828.13489199</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>94</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>255</integer>
				</dict>
			</dict>
			<key>Ways of Seeing.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340047.45661497</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>191</integer>
				</dict>
			</dict>
			<key>Welcome to The Phoenix Project.md</key>
			<dict>
				<key>lastModification</key>
				<real>581159802.87429202</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>100</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>255</integer>
				</dict>
			</dict>
			<key>World Shattering Ideas.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340246.25843894</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>219</integer>
				</dict>
			</dict>
			<key>_sidebar.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.39521503</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>conferences.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<false/>
				<key>firstUnassignment</key>
				<real>581264181.05016994</real>
				<key>lastModification</key>
				<real>581023399.04652202</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>87</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>256</integer>
				</dict>
			</dict>
			<key>contribution.md</key>
			<dict>
				<key>lastModification</key>
				<real>565709279.65181303</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>41</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>151</integer>
				</dict>
			</dict>
			<key>places.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<false/>
				<key>firstUnassignment</key>
				<real>581264181.05037403</real>
				<key>lastModification</key>
				<real>581023399.04653895</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>87</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>256</integer>
				</dict>
			</dict>
			<key>quotes.md</key>
			<dict>
				<key>lastModification</key>
				<real>536457941.20450097</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>175</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Street Epistemology.md</string>
		</array>
		<array>
			<string>Social Ecology.md</string>
		</array>
		<array>
			<string>Gaia.md</string>
		</array>
		<array>
			<string>Hallmarks of the Monster Factory.md</string>
		</array>
		<array>
			<string>Hallmarks of the Phoenix.md</string>
		</array>
		<array>
			<string>The Bodhisattva narrative.md</string>
		</array>
		<array>
			<string>Utopianism.md</string>
		</array>
		<array>
			<string>Climate-Ecological Emergency and Deep Adaptation.md</string>
		</array>
		<array>
			<string>Mapping the Collapse.md</string>
		</array>
		<array>
			<string>Neoliberalism.md</string>
		</array>
		<array>
			<string>Open Questions.md</string>
		</array>
		<array>
			<string>Philosophical Terms.md</string>
		</array>
		<array>
			<string>conferences.md</string>
		</array>
		<array>
			<string>Conferences.md</string>
		</array>
		<array>
			<string>Places to Post Articles.md</string>
		</array>
		<array>
			<string>Cultural Code.md</string>
		</array>
		<array>
			<string>Organisations.md</string>
		</array>
		<array>
			<string>Feedback.md</string>
		</array>
		<array>
			<string>quotes.md</string>
		</array>
		<array>
			<string>Group Practices.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>Quotes.md</string>
		</array>
		<array>
			<string>_sidebar.md</string>
		</array>
		<array>
			<string>Neoliberalism - 2.md</string>
		</array>
		<array>
			<string>Concentric Circles of Self.md</string>
		</array>
		<array>
			<string>Neo-Colonialism.md</string>
		</array>
		<array>
			<string>The Work That Reconnects.md</string>
		</array>
		<array>
			<string>Reject Materialism.md</string>
		</array>
		<array>
			<string>The Fluid Mode.md</string>
		</array>
		<array>
			<string>Framing the Climate and Ecological Collapse.md</string>
		</array>
		<array>
			<string>The Meaning Crisis.md</string>
		</array>
		<array>
			<string>The Transjective Perspective.md</string>
		</array>
		<array>
			<string>Welcome to The Phoenix Project.md</string>
		</array>
		<array>
			<string>The Bio-Emotive Framework.md</string>
		</array>
		<array>
			<string>Deep Ecology.md</string>
		</array>
		<array>
			<string>Metamodern Existentialism.md</string>
		</array>
		<array>
			<string>contribution.md</string>
		</array>
		<array>
			<string>Metamodern Art.md</string>
		</array>
		<array>
			<string>Metamodernism.md</string>
		</array>
		<array>
			<string>Meta-rationality.md</string>
		</array>
		<array>
			<string>Ways of Seeing.md</string>
		</array>
		<array>
			<string>Organisational Design.md</string>
		</array>
		<array>
			<string>Guerrilla Metaphysics.md</string>
		</array>
		<array>
			<string>Emergentism.md</string>
		</array>
		<array>
			<string>Non Violent Communication.md</string>
		</array>
		<array>
			<string>Authentic Relating.md</string>
		</array>
		<array>
			<string>Inequality.md</string>
		</array>
		<array>
			<string>Alienation.md</string>
		</array>
		<array>
			<string>World Shattering Ideas.md</string>
		</array>
		<array>
			<string>Environment.md</string>
		</array>
		<array>
			<string>places.md</string>
		</array>
		<array>
			<string>Places.md</string>
		</array>
		<array>
			<string>People.md</string>
		</array>
		<array>
			<string>Platform Co-ops.md</string>
		</array>
		<array>
			<string>Social Ecology (Will Franks's conflicted copy 2019-05-26).md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
			<integer>2</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
			<integer>144</integer>
			<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
			<integer>283</integer>
		</dict>
	</dict>
</dict>
</plist>
