<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_media</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>_media</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.01820195</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>Exponential.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.15780795</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>Feedback.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.18667805</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Groups.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.40757799</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Quotes.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.32958496</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.36199796</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>altruismideas.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.26510799</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>altruismlinks.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.255288</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>altruismscience.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.30653906</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>altruismstreams.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.20474994</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>conferences.md</key>
			<dict>
				<key>lastModification</key>
				<real>563380761.148664</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>6</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>daycourse.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.05896199</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>nameideas.md</key>
			<dict>
				<key>lastModification</key>
				<real>563204349.93077004</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>5</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>philosophicalterms.md</key>
			<dict>
				<key>lastModification</key>
				<real>564501850.31917095</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>9</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>placestopost.md</key>
			<dict>
				<key>lastModification</key>
				<real>564504326.26072705</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>9</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>relatedorganisations.md</key>
			<dict>
				<key>lastModification</key>
				<real>564504306.58546603</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>9</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>whatisaltruism.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.13018894</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>whyaltruism.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.17581105</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>nameideas.md</string>
		</array>
		<array>
			<string>philosophicalterms.md</string>
		</array>
		<array>
			<string>conferences.md</string>
		</array>
		<array>
			<string>daycourse.md</string>
		</array>
		<array>
			<string>placestopost.md</string>
		</array>
		<array>
			<string>relatedorganisations.md</string>
		</array>
		<array>
			<string>whatisaltruism.md</string>
		</array>
		<array>
			<string>Exponential.md</string>
		</array>
		<array>
			<string>Feedback.md</string>
		</array>
		<array>
			<string>whyaltruism.md</string>
		</array>
		<array>
			<string>altruismstreams.md</string>
		</array>
		<array>
			<string>altruismlinks.md</string>
		</array>
		<array>
			<string>altruismideas.md</string>
		</array>
		<array>
			<string>altruismscience.md</string>
		</array>
		<array>
			<string>Quotes.md</string>
		</array>
		<array>
			<string>Groups.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
			<integer>2</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
			<integer>9</integer>
			<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
			<integer>42</integer>
		</dict>
	</dict>
</dict>
</plist>
