<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_media</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>_media</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.01820195</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>Alienation.md</key>
			<dict>
				<key>lastModification</key>
				<real>565620585.94541597</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>31</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>105</integer>
				</dict>
			</dict>
			<key>Authentic Relating.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340040.973737</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>189</integer>
				</dict>
			</dict>
			<key>Conferences.md</key>
			<dict>
				<key>lastModification</key>
				<real>536457941.20447898</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>175</integer>
				</dict>
			</dict>
			<key>Cultural Code.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340100.11857295</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>201</integer>
				</dict>
			</dict>
			<key>Deep Ecology.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340077.13295996</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>197</integer>
				</dict>
			</dict>
			<key>Environment.md</key>
			<dict>
				<key>lastModification</key>
				<real>565623713.86609495</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>32</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>89</integer>
				</dict>
			</dict>
			<key>Feedback.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.18667805</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Group Practices.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340094.12343705</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>199</integer>
				</dict>
			</dict>
			<key>Groups.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>580336516.17953801</real>
				<key>lastModification</key>
				<real>580336516.17953801</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>176</integer>
				</dict>
			</dict>
			<key>Inequality.md</key>
			<dict>
				<key>lastModification</key>
				<real>565194905.76530194</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>30</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>89</integer>
				</dict>
			</dict>
			<key>Metamodern Art.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340065.636796</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>195</integer>
				</dict>
			</dict>
			<key>Metamodernism.md</key>
			<dict>
				<key>lastModification</key>
				<real>565626955.35551</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>41</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>127</integer>
				</dict>
			</dict>
			<key>Metaphysics.md</key>
			<dict>
				<key>lastModification</key>
				<real>565619165.46346402</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>31</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>104</integer>
				</dict>
			</dict>
			<key>Metarationality.md</key>
			<dict>
				<key>lastModification</key>
				<real>536457941.20450902</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>175</integer>
				</dict>
			</dict>
			<key>Name Ideas.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>580340161.67043304</real>
				<key>lastModification</key>
				<real>580340161.67043304</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>215</integer>
				</dict>
			</dict>
			<key>Non Violent Communication.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340232.10966897</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>217</integer>
				</dict>
			</dict>
			<key>Open Questions.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340134.84755599</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>209</integer>
				</dict>
			</dict>
			<key>Organisational Design.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340060.62020195</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>193</integer>
				</dict>
			</dict>
			<key>Organisations.md</key>
			<dict>
				<key>lastModification</key>
				<real>564685045.99485695</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>21</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>People.md</key>
			<dict>
				<key>lastModification</key>
				<real>564684439.66900694</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>13</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>Philosophical Terms.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340116.85580003</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>205</integer>
				</dict>
			</dict>
			<key>Places to Post Articles.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340108.98838496</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>203</integer>
				</dict>
			</dict>
			<key>Places.md</key>
			<dict>
				<key>lastModification</key>
				<real>536457941.204512</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>175</integer>
				</dict>
			</dict>
			<key>Platform Co-ops.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340012.75324404</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>187</integer>
				</dict>
			</dict>
			<key>Quotes.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>580336516.17954099</real>
				<key>lastModification</key>
				<real>580336516.17954099</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>176</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.36199796</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>Street Epistemology.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340140.94736397</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>211</integer>
				</dict>
			</dict>
			<key>Teach Each Other.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>580340165.92307305</real>
				<key>lastModification</key>
				<real>580340165.92307305</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>216</integer>
				</dict>
			</dict>
			<key>The Bio-Emotive Framework.md</key>
			<dict>
				<key>lastModification</key>
				<real>580337057.84638798</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>179</integer>
				</dict>
			</dict>
			<key>Ways of Seeing.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340047.45661497</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>191</integer>
				</dict>
			</dict>
			<key>Welcome to The Phoenix Project.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340587.27370203</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>221</integer>
				</dict>
			</dict>
			<key>World Shattering Ideas.md</key>
			<dict>
				<key>lastModification</key>
				<real>580340246.25843894</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>219</integer>
				</dict>
			</dict>
			<key>_sidebar.md</key>
			<dict>
				<key>lastModification</key>
				<real>563203550.39521503</real>
				<key>version</key>
				<dict>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>conferences.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>580336516.17952299</real>
				<key>lastModification</key>
				<real>580336516.17952299</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>176</integer>
				</dict>
			</dict>
			<key>contribution.md</key>
			<dict>
				<key>lastModification</key>
				<real>565709279.65181303</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>41</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>151</integer>
				</dict>
			</dict>
			<key>metarationality.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>580336516.17954302</real>
				<key>lastModification</key>
				<real>580336516.17954302</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>176</integer>
				</dict>
			</dict>
			<key>places.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>580336516.179546</real>
				<key>lastModification</key>
				<real>580336516.179546</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>176</integer>
				</dict>
			</dict>
			<key>quotes.md</key>
			<dict>
				<key>lastModification</key>
				<real>536457941.20450097</real>
				<key>version</key>
				<dict>
					<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
					<integer>59</integer>
					<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
					<integer>175</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Name Ideas.md</string>
		</array>
		<array>
			<string>Street Epistemology.md</string>
		</array>
		<array>
			<string>Open Questions.md</string>
		</array>
		<array>
			<string>Teach Each Other.md</string>
		</array>
		<array>
			<string>Philosophical Terms.md</string>
		</array>
		<array>
			<string>conferences.md</string>
		</array>
		<array>
			<string>Conferences.md</string>
		</array>
		<array>
			<string>Places to Post Articles.md</string>
		</array>
		<array>
			<string>Cultural Code.md</string>
		</array>
		<array>
			<string>Organisations.md</string>
		</array>
		<array>
			<string>Feedback.md</string>
		</array>
		<array>
			<string>quotes.md</string>
		</array>
		<array>
			<string>Groups.md</string>
		</array>
		<array>
			<string>Group Practices.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>Quotes.md</string>
		</array>
		<array>
			<string>_sidebar.md</string>
		</array>
		<array>
			<string>Welcome to The Phoenix Project.md</string>
		</array>
		<array>
			<string>The Bio-Emotive Framework.md</string>
		</array>
		<array>
			<string>Deep Ecology.md</string>
		</array>
		<array>
			<string>contribution.md</string>
		</array>
		<array>
			<string>Metamodern Art.md</string>
		</array>
		<array>
			<string>Metamodernism.md</string>
		</array>
		<array>
			<string>metarationality.md</string>
		</array>
		<array>
			<string>Metarationality.md</string>
		</array>
		<array>
			<string>Ways of Seeing.md</string>
		</array>
		<array>
			<string>Organisational Design.md</string>
		</array>
		<array>
			<string>Metaphysics.md</string>
		</array>
		<array>
			<string>Non Violent Communication.md</string>
		</array>
		<array>
			<string>Authentic Relating.md</string>
		</array>
		<array>
			<string>Inequality.md</string>
		</array>
		<array>
			<string>Alienation.md</string>
		</array>
		<array>
			<string>World Shattering Ideas.md</string>
		</array>
		<array>
			<string>Environment.md</string>
		</array>
		<array>
			<string>places.md</string>
		</array>
		<array>
			<string>Places.md</string>
		</array>
		<array>
			<string>People.md</string>
		</array>
		<array>
			<string>Platform Co-ops.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
			<integer>2</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>8609cede70c89f5083f04ecfeb6fd1fb26dc7a548d2bdd75cceaa33eed05f10d</key>
			<integer>59</integer>
			<key>9d3212972465d188f6b1ce4d39d96d2fbd899cc94ec59251e2d8a362520ec213</key>
			<integer>222</integer>
		</dict>
	</dict>
</dict>
</plist>
